<div class="card-container" [ngClass]="{'student-card': item.type === 'Student', 'professor-card': item.type === 'Professor'}">
  <div class="tab-buttons">
    <button class="tab-button" [ngClass]="{'active': currentTab === 'Personal'}" (click)="switchTab('Personal')">Personal</button>
    <button class="tab-button" [ngClass]="{'active': currentTab === 'Geographic'}" (click)="switchTab('Geographic')">Geographic</button>
    <button class="tab-button" [ngClass]="{'active': currentTab === 'Messages'}" (click)="switchTab('Messages')">Messages</button>
  </div>

  <div class="card-content" *ngIf="currentTab === 'Personal'">
    <p><strong>Name:</strong> {{ item.name }}</p>
    <p><strong>Type:</strong> {{ item.type }}</p>
    <p *ngIf="item.type === 'Student'"><strong>Score:</strong> {{ (item.score.firstTestScore + item.score.secondTestScore + item.score.finalTestScore) / 3 }}</p>
    <p *ngIf="item.type === 'Professor'"><strong>Subject:</strong> {{ item.subject }}</p>
  </div>

  <div class="card-content" *ngIf="currentTab === 'Geographic'">
    <p><strong>Address:</strong> {{ item.address }}</p>
    <p><strong>Country:</strong> {{ item.country }}</p>
    <p><strong>Province:</strong> {{ item.province }}</p>
  </div>

  <div class="card-content" *ngIf="currentTab === 'Messages'">
    <app-search (search)="searchMessages($event)"></app-search>

    <ul class="message-list">
      <li *ngFor="let message of filteredMessages" class="message-item">{{ message }}</li>
    </ul>
  </div>
</div>
