<div class="app-container">
  <section class="social-networks-section">
    <!-- Redes sociales -->
    <app-social-networks (newNotification)="handleNewNotification($event)"></app-social-networks>
  </section>

  <section class="users-section">
    <!-- Usuarios -->
    <div *ngFor="let user of users" class="user-container">
      <app-user
        [user]="user"
        (onChangeSubscription)="handleSubscriptionChange(user, $event)"
        (onAddSubscription)="handleAddSubscription(user, $event)"
        (onRemoveSubscription)="handleRemoveSubscription(user, $event)"
        (onCloseAccount)="handleCloseAccount(user)"
      ></app-user>
    </div>
  </section>
</div>
